<p>Create a new List:</p>

<form action="/lists" method="post">
  <label for="name">List Description</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add List</button>
</form>
